@model IEnumerable<Triario.Models.ViewModels.JoinViewModel>

@{
    ViewBag.Title = "FullSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FullSearch</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSalary)
        </td>

    </tr>
}

</table>
